.principal, .contasDetalhadas, .reservasDetalhadas {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  height: calc(100vh - 100px);
  justify-content: center;
  margin: auto 200px;
}



.despesas {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.entradas {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.saldo {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}