@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

body {
  background: #f1f1f1;
  display: grid;
  font-family: Arial, sans-serif;
  grid-template-areas:
    "cabecalho"
    "conteudo"
    "rodape";
  grid-template-columns: auto;
  grid-template-rows: 100px auto 50px;
  
} 

.cabecalho {
  background-color: #B09C5E;
  color: #ffffff;
  grid-area: cabecalho;
}

.conteudo {
  grid-area: conteudo;
}

.rodape {
  background-color: #B09C5E;
  grid-area: rodape;
  color: #ffffff;
  text-align: center;
}


h1 {
  font-size: 45px;
  margin-top: 25px;
  
}

.caixa-cabecalho {
  position: relative;
    width: 1450px;
    margin: 0 auto;
}

nav {
  position: absolute;
  top: 25px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.selecionar-periodo {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h2, h3 {
  margin: 10px;
  padding: 10px;
  color: #B09C5E;
  text-align: center;
  font-size: 30px;
}

table {
  background: #E9DFC2;
  font-size: 16px;
}

.tituloTabela {
  background: #B09C5E;
  color: #ffffff;
  font-weight: bold;
}

tr {
  background: #ffffff;
}

