/*DEFININDO CORES DAS TABELAS*/

.tituloTabela{
  color: #ffffff; 
  text-transform: uppercase;
  text-align: center;
}

table {
  color: #9F5E2E;
  font-weight: bolder;
  background-color: #e0b377;
  padding: 5px;
  margin: 10px auto;
  width: 20rem;
}

table td {
  background-color: #B3782A;
  padding: 10px;
  margin: 10px;
}

table td.cd {
  padding: 0;
  margin: 0;
}

table td.ce {
  background-color: #fad3a1;
}
 input {
  background-color: #B3782A;
  color: #fff;
  padding: 10px;
  margin: 0;
  border: none;
  text-align: center;  
 }

 input::placeholder {
  color: #F9EFE5;
}
 input.descricao {
  background-color: #fad3a1;
  color: #000;
  padding: 10px;
  margin: 0;
  border: none;
  text-align: center;  
 }

 input.descricao::placeholder {
  color: #9F5E2E;
  font-weight: bolder;
}

 button {
   background-color: #9F5E2E;
   color: #F9EFE5;
   width: 100px;
   height: 40px;
   border-radius: 10px;
 }
